body {
  background-color: white;
  padding: 0;
  margin: 0;
}

h1 {
  color: black;
  background-color: #5b2d2d;
  text-align: center;
  font-size: 64px;
  margin: 0px;
  padding: 0;
}


div {
    font-size: 40px;
}

.general-text{
    padding-left: 10px;
    padding-right: 10px;    
}

.quest{
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
}

.sent-to{
    text-align: center;
    word-wrap: break-word;
    
}

.center{
    text-align: center;
}

.logo-text{
    color: white;
    padding-bottom: 10px;
}

.logo{
    margin-top: 5%;
    width: 100px;
    height: 100px;
}

.email-text{
    font-size: 32px;
}