body {
  background-color: white;
  padding: 0;
  margin: 0;
}

h1 {
  color: black;
  background-color: #5b2d2d;
  text-align: center;
  font-size: 64px;
  margin: 0px;
  padding: 0;
}


div {
    font-size: 40px;
}

/*----------- logo --------------*/

.logo{
    margin-top: 5%;
    width: 100px;
    height: 100px;
}

.logo-text{
    color: white;
    padding-bottom: 10px;
}


/*----------- Main text --------------*/
.general-text{
    padding-left: 10px;
    padding-right: 10px;    
}

.quest-title{
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
}

.quest-info{
    padding-top: 20px;
    font-size: 32px;
}

.sent-to{
    text-align: center;
    word-wrap: break-word;
    
}

.email-text{
    font-size: 32px;
}

.button-text{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);;
}

.container {
  height: 100px;
  position: relative;
}

.button1{
    padding: 15px 32px;
    background-color: transparent;
}

.leaderboard-text{
    text-align: left;
    font-size: 32px;
    margin-left: 5%;
}
